.clearfix,
%clearfix
  zoom: 1

  &:after
    content: ""
    clear: both
    display: block

.ir
  background-color: transparent
  background-repeat: no-repeat
  border: 0
  direction: ltr
  display: block
  overflow: hidden
  text-align: left
  text-indent: -999em

  br
    display: none

.hidden
  display: none !important
  visibility: hidden

.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

  &.focusable:active, &.focusable:focus
    clip: auto
    height: auto
    margin: 0
    overflow: visible
    position: static
    width: auto

.invisible
  visibility: hidden

.shy
  position: absolute
  left: -9999px

.left
  float: left

.right
  float: right

@for $i from 1 through 50

  .push-b-xs-#{$i * 5}
    margin-bottom: #{$i * 5}px
  .push-r-xs-#{$i * 5}
    margin-right: #{$i * 5}px
  .push-l-xs-#{$i * 5}
    margin-left: #{$i * 5}px
  .push-t-xs-#{$i * 5}
    margin-top: #{$i * 5}px

  .push-b-xs-reset.push-b-xs-reset
    margin-bottom: 0px
  .push-b-xs-auto.push-b-xs-auto
    margin-bottom: auto
  .push-r-xs-reset.push-r-xs-reset
    margin-right: 0px
  .push-l-xs-reset.push-l-xs-reset
    margin-left: 0px
  .push-t-xs-reset.push-t-xs-reset
    margin-top: 0px
  .push-t-xs-auto.push-t-xs-auto
    margin-top: auto

+tabletup

  .push-b-sm-reset.push-b-sm-reset.push-b-sm-reset
    margin-bottom: 0px
  .push-b-sm-auto.push-b-sm-auto.push-b-sm-auto
    margin-bottom: auto
  .push-r-sm-reset.push-r-sm-reset.push-r-sm-reset
    margin-right: 0px
  .push-l-sm-reset.push-l-sm-reset.push-l-sm-reset
    margin-left: 0px
  .push-t-sm-reset.push-t-sm-reset.push-t-sm-reset
    margin-top: 0px
  .push-t-sm-auto.push-t-sm-auto.push-t-sm-auto
    margin-top: auto

  @for $i from 1 through 50

    .push-b-sm-#{$i * 5}.push-b-sm-#{$i * 5}
      margin-bottom: #{$i * 5}px
    .push-r-sm-#{$i * 5}.push-r-sm-#{$i * 5}
      margin-right: #{$i * 5}px
    .push-l-sm-#{$i * 5}.push-l-sm-#{$i * 5}
      margin-left: #{$i * 5}px
    .push-t-sm-#{$i * 5}.push-t-sm-#{$i * 5}
      margin-top: #{$i * 5}px

+tabletlargeup

  .push-b-md-reset.push-b-md-reset.push-b-md-reset.push-b-md-reset
    margin-bottom: 0px
  .push-b-md-auto.push-b-md-auto.push-b-md-auto.push-b-md-auto
    margin-bottom: auto
  .push-l-md-reset.push-l-md-reset.push-l-md-reset.push-l-md-reset
    margin-left: 0px
  .push-r-md-reset.push-r-md-reset.push-r-md-reset.push-r-md-reset
    margin-right: 0px
  .push-t-md-reset.push-t-md-reset.push-t-md-reset.push-t-md-reset
    margin-top: 0px
  .push-t-md-auto.push-t-md-auto.push-t-md-auto.push-t-md-auto
    margin-top: auto

  @for $i from 1 through 50

    .push-b-md-#{$i * 5}.push-b-md-#{$i * 5}.push-b-md-#{$i * 5}
      margin-bottom: #{$i * 5}px
    .push-r-md-#{$i * 5}.push-r-md-#{$i * 5}.push-r-md-#{$i * 5}
      margin-right: #{$i * 5}px
    .push-l-md-#{$i * 5}.push-l-md-#{$i * 5}.push-l-md-#{$i * 5}
      margin-left: #{$i * 5}px
    .push-t-md-#{$i * 5}.push-t-md-#{$i * 5}.push-t-md-#{$i * 5}
      margin-top: #{$i * 5}px

+desktopup

  .push-b-lg-reset.push-b-lg-reset.push-b-lg-reset.push-b-lg-reset.push-b-lg-reset
    margin-bottom: 0px
  .push-b-lg-auto.push-b-lg-auto.push-b-lg-auto.push-b-lg-auto.push-b-lg-auto
    margin-bottom: auto
  .push-r-lg-reset.push-r-lg-reset.push-r-lg-reset.push-r-lg-reset.push-r-lg-reset
    margin-right: 0px
  .push-l-lg-reset.push-l-lg-reset.push-l-lg-reset.push-l-lg-reset.push-l-lg-reset
    margin-left: 0px
  .push-t-lg-reset.push-t-lg-reset.push-t-lg-reset.push-t-lg-reset.push-t-lg-reset
    margin-top: 0px
  .push-t-lg-auto.push-t-lg-auto.push-t-lg-auto.push-t-lg-auto.push-t-lg-auto
    margin-top: auto

  @for $i from 1 through 50

    .push-b-lg-#{$i * 5}.push-b-lg-#{$i * 5}.push-b-lg-#{$i * 5}.push-b-lg-#{$i * 5}
      margin-bottom: #{$i * 5}px
    .push-r-lg-#{$i * 5}.push-r-lg-#{$i * 5}.push-r-lg-#{$i * 5}.push-r-lg-#{$i * 5}
      margin-right: #{$i * 5}px
    .push-l-lg-#{$i * 5}.push-l-lg-#{$i * 5}.push-l-lg-#{$i * 5}.push-l-lg-#{$i * 5}
      margin-left: #{$i * 5}px
    .push-t-lg-#{$i * 5}.push-t-lg-#{$i * 5}.push-t-lg-#{$i * 5}.push-t-lg-#{$i * 5}
      margin-top: #{$i * 5}px

+desktoplargeup

  .push-b-xl-reset.push-b-xl-reset.push-b-xl-reset.push-b-xl-reset.push-b-xl-reset.push-b-xl-reset.push-b-xl-reset
    margin-bottom: 0px
  .push-b-xl-auto.push-b-xl-auto.push-b-xl-auto.push-b-xl-auto.push-b-xl-auto.push-b-xl-auto.push-b-xl-auto
    margin-bottom: auto
  .push-r-xl-reset.push-r-xl-reset.push-r-xl-reset.push-r-xl-reset.push-r-xl-reset.push-r-xl-reset.push-r-xl-reset
    margin-right: 0px
  .push-l-xl-reset.push-l-xl-reset.push-l-xl-reset.push-l-xl-reset.push-l-xl-reset.push-l-xl-reset.push-l-xl-reset
    margin-left: 0px
  .push-t-xl-reset.push-t-xl-reset.push-t-xl-reset.push-t-xl-reset.push-t-xl-reset.push-t-xl-reset.push-t-xl-reset
    margin-top: 0px
  .push-t-xl-auto.push-t-xl-auto.push-t-xl-auto.push-t-xl-auto.push-t-xl-auto.push-t-xl-auto.push-t-xl-auto
    margin-top: auto

  @for $i from 1 through 50

    .push-b-xl-#{$i * 5}.push-b-xl-#{$i * 5}.push-b-xl-#{$i * 5}.push-b-xl-#{$i * 5}.push-b-xl-#{$i * 5}
      margin-bottom: #{$i * 5}px
    .push-r-xl-#{$i * 5}.push-r-xl-#{$i * 5}.push-r-xl-#{$i * 5}.push-r-xl-#{$i * 5}.push-r-xl-#{$i * 5}
      margin-right: #{$i * 5}px
    .push-l-xl-#{$i * 5}.push-l-xl-#{$i * 5}.push-l-xl-#{$i * 5}.push-l-xl-#{$i * 5}.push-l-xl-#{$i * 5}
      margin-left: #{$i * 5}px
    .push-t-xl-#{$i * 5}.push-t-xl-#{$i * 5}.push-t-xl-#{$i * 5}.push-t-xl-#{$i * 5}.push-t-xl-#{$i * 5}
      margin-top: #{$i * 5}px

