---
title: Chapeau de pige
---
<div class="container">
  <main class="main-content">
    <div class="row">
      <div class="col-xs-12">
        <img src="/assets/images/le-chapeau.png" alt="">
      </div>
    </div>

    <div class="row push-t-xs-20">
      <div class="col-xs-12">
        <img src="/assets/images/logo.png" alt="Chapeau de pige!">
      </div>
    </div>

     <div class="row push-t-xs-60">
      <div class="col-xs-12">
        <p class="size-xs-30"><span lang="en">Sooner or later... we will</span> pige <span lang="en">again</span>!</p>
      </div>
    </div>
  </main>
</div>